/Hola-Mundo/build/
/Variables-y-tipos-de-datos/build/
/Operaciones-Basicas/nbproject/private/
/Hola-Mundo/nbproject/private/
/Variables-y-tipos-de-datos/nbproject/private/
/Operaciones-Basicas/build/
/HolaMundo2/nbproject/private/
/Operaciones-Basicas2/nbproject/private/
/Operaciones-Basicas2/build/
/Estructuras-de-Control/nbproject/private/
/Estructuras-de-Control/build/
/Array-y-Bucles/nbproject/private/
/Array-y-Bucles/build/
/Funciones-y-Metodos/nbproject/private/
/Funciones-y-Metodos/build/
