/Hola-Mundo/build/
/Variables-y-tipos-de-datos/build/
/Operaciones-Basicas/nbproject/private/
/Hola-Mundo/nbproject/private/
/Variables-y-tipos-de-datos/nbproject/private/
/Operaciones-Basicas/build/
/HolaMundo2/nbproject/private/
/Operaciones-Basicas2/nbproject/private/
/Operaciones-Basicas2/build/
